<div class="suggestion__card col-8 col-md-5 col-lg-3">
  <div class="suggestion__image__block">
    <img class="suggestion__image" src="{{imageSrc}}" />
    <div style="background-color: {{backgroundColor}}" class="suggestion__image__icon"><span class="suggestion__image__icon-i {{spanIcon}}"></span></div>
  </div>
  <h2 class="suggestion__name">
    {{name}}
  </h2>
  <p class="suggestion__description">
    {{description}}
  </p>
</div>